/* TODO Add site wide styles */

.home-title {
  position: relative;
  left: 40%;
}

.movie-select {
  display: flex;
  justify-content: center;
}

.movie-class {
  width: 250px;
  height: 200px;
  /* border: 15px solid green; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-position: center;
  background-size: cover;
}
